html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    background-color: black;
}

#map {
    margin: auto;
    height: 90%;
    width: 90%;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

#infoWindow {
    display: flex;
    user-select: none;
    position: absolute;
    height: 30%;
    width: 25%;
    background-color: rgb(80, 80, 80);
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(201, 201, 201);
    border-width: 1px;
}

#ipTable {
    margin: auto;
    color: white;
}

#btnContainer {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
}

.btn {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-size: 24px;
    background-color: white;
    border-radius: 10px;
}

.hint-blur {
    filter: blur(4px);
    transition: 100ms;
}

.hint-blur:hover {
    cursor: pointer;
}